@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="row">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-dark" />

            <div class="form-group">
                <label asp-for="Input.Login">
                    @Html.DisplayNameFor(model => model.Input.Login)
                </label>
                <input asp-for="Input.Login" class="form-control fa fa-user" />

                <span asp-validation-for="Input.Login" class="text-danger" />
            </div>

            <div class="form-group">
                <label asp-for="Input.Password">
                    @Html.DisplayNameFor(model => model.Input.Password)
                </label>
                <input asp-for="Input.Password" class="form-control fa fa-user-secret" />

                <span asp-validation-for="Input.Password" class="text-danger" />
            </div>

            <div class="form-group">
                <label asp-for="Input.Password2">
                    @Html.DisplayNameFor(model => model.Input.Password2)
                </label>
                <input asp-for="Input.Password2" class="form-control" />

                <span asp-validation-for="Input.Password2" class="text-danger fa fa-user-secret" />
            </div>

            <div class="form-group">
                <label asp-for="Input.Email">
                    @Html.DisplayNameFor(model => model.Input.Email)
                </label>
                <input asp-for="Input.Email" class="form-control fa fa-envelope" />

                <span asp-validation-for="Input.Email" class="text-danger" />
            </div>

            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="@Model.RecaptchaSiteKey"></div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Zarejestruj się
                </button>
            </div>

            <span class="text-danger font-weight-bold">@Model.FormError</span>
            <span class="text-success font-weight-bold">@Model.FormSuccess</span>

        </form>
    </div>
    <div class="col-md-3 col-lg-4"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_RecaptchaScript" />
}