@using Database.Models
@model List<Vehicle>
@{
    int i = 0;
    int descriptionLimit = 30;
}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Firma</th>
                <th scope="col">Model</th>
                <th scope="col">Pojemność silnika</th>
                <th scope="col">Konie mechaniczne</th>
                <th scope="col">Opis</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Vehicle vehicle in Model)
            {
                <tr>
                    <th scope="row">@(++i)</th>
                    <td>@vehicle.Manufacturer</td>
                    <td>@vehicle.Model</td>
                    <td>@vehicle.Engine</td>
                    <td>@vehicle.Horsepower</td>
                    <td>@(vehicle.Description.Length > descriptionLimit ? vehicle.Description.Substring(descriptionLimit) + "..." : vehicle.Description)</td>
                    <td>Akcja...</td>
                </tr>
            }
        </tbody>
    </table>
</div>